<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Rob Cavanaugh",
  "honorificSuffix": "PhD, CCC-SLP",
  "jobTitle": "Assistant Professor of Quantitative Methods",
  "worksFor": {
    "@type": "Organization",
    "name": "MGH Institute of Health Professions"
  },
  "url": "https://rbcavanaugh.github.io",
  "sameAs": [
    "https://github.com/rbcavanaugh",
    "https://scholar.google.com/citations?user=7pMLCJsAAAAJ",
    "https://www.linkedin.com/in/rob-cavanaugh-0b94636a",
    "https://bsky.app/profile/rbcavanaugh.bsky.social"
  ]
}
</script>
