@media (min-width: 800px) {
  .col-sm-4 {
    float: left; }
  .col-sm-4 {
    width: 30%; }
}
    
.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  }

a {
  color: #5a9ddb;
  text-decoration: none; }
  a:hover, a:focus {
    color: #2a77bf;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
    
a {
background-color: transparent; 
}
  
.thumbnail {
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.846;
font-size: .8em;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 3px;
border-bottom: 1px solid rgb(0,0,0,.1)!important;
-webkit-transition: border 0.2s ease-in-out;
-o-transition: border 0.2s ease-in-out;
transition: border 0.2s ease-in-out; }
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
.thumbnail .caption {
  padding: 9px;
  color: #444; }

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #5a9ddb; }